@media screen and (min-width:90em) {

.mainBackground{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainFlex{
    display: grid;
    grid-template-columns:repeat(4,17.5rem);
    grid-template-rows: repeat(7,7.5rem);
    max-width: 90rem;
    gap: 2rem;
    margin: 2rem;
}


.mainSocial{
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    width: 100%;
}

.mainAccounts{
    grid-column: 2;
    grid-row: 3 / 5;
}

.mainData{
    grid-column: 3;
    grid-row: 3 / 5;
}

.mainGraphic{
    grid-column: 4 / -1;
    grid-row: 1 / 5;
}

.mainGraphicFollowers{
    grid-column: 3 / -1;
    grid-row: 5 / 7;
    padding: 1rem 2rem;
}

.mainGraphicFollowers .graphicTextFollow{
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.mainGraphicFollowers .graphicTextFollow h1{
    font-size: 2.2rem;
    text-align:left;
    letter-spacing: 1;
    font-weight: 400;
}

.mainGraphicFollowers .graphicTextFollow img{
    width: 45%
}

.mainAudience{
    grid-column: 2;
    grid-row: 5 / 7;
}

.mainCreateContent{
    grid-column: 1;
    grid-row: 1 / 4;
}

.mainContentAi{
    grid-column: 1;
    grid-row: 4 / 7;
}
}