@media screen and (min-width:90em) {

.mainBackground{ 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mainFlex{
    display: grid;
    grid-template-columns:repeat(4,18rem);
    grid-template-rows: auto auto auto;
    max-width: 90rem;
    gap: 2rem;
    margin: 0rem;
}

/* article{
    width: fit-content;
    height: fit-content;
} */


.mainSocial{
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    width: 100%;
}

.mainSocial .socialTittle{
    text-align: center;
}

.socialTextMobile{
    display: none;
}

.socialTextDesktop{
    display: inline-block;
}

.mainAccounts{
    grid-column: 2;
    grid-row: 3 / 5;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content:flex-end;
    position: relative;
    overflow: hidden;
    width: fit-content;
    padding: 1.5rem;
    padding-top: 8rem;
}

.iconsText{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.iconsText p{
    font-size: 1.2rem;
}

.iconBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-brands{
    padding: 0.5rem;
    font-size: 1.4rem;
}

small{
    font-size: 1rem;
}

.floatingIcons{
    position: absolute;
    top: 0;
    margin-top: 2.5rem;
    right: -95px;
    gap: 2rem;
}

.mainAccounts .accountsTittle{
    text-align: left;
    font-size: 2rem;
    width: 100%;
}

.mainData{
    grid-column: 3;
    grid-row: 3 / 5;
    position: relative;
    overflow: hidden;
}

.mainData img{
    position: absolute;
    bottom: -80px;
    width: 80%;
    left: 10%;
}

.dataText h1{
    font-size: 2rem;
}

.mainGraphic{
    grid-column: 4 / -1;
    grid-row: 1 / 5;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    gap: 23rem;
}

.mainGraphic h1{
    font-size: 2rem;
    text-align: left;
}

.mainGraphic p{
    text-align: left;
}

.mainGraphic img{
    position: absolute;
    width: 125%;
    top: 21%;
    /* padding-left: 1rem; */
    left: 5%;
}

.mainGraphicFollowers{
    grid-column: 3 / -1;
    grid-row: 5 / 7;
    padding: 1rem 2rem;
}

.mainGraphicFollowers .graphicTextFollow{
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.mainGraphicFollowers .graphicTextFollow h1{
    font-size: 2.2rem;
    text-align:left;
    letter-spacing: 1;
    font-weight: 400;
}

.mainGraphicFollowers .graphicTextFollow img{
    width: 45%
}

.mainAudience{
    grid-column: 2;
    grid-row: 5 / 7;
}

.mainAudience .audienceInformation{
    width: 100%;
}

.audienceInformation img{
    margin-top: 1rem;
    width: 80%;
}

.mainCreateContent{
    grid-column: 1;
    grid-row: 1 / 4;
}

.mainContentAi{
    grid-column: 1;
    grid-row: 4 / 7;
}
}
